<%- include('../partials/header',{title:'Signup'}); -%>
    <div class="container" style="display:block">

        <div class="container">

            <form id="form" method="POST" action="">


                <h1>Login To Your Account</h1>

                <div class="input-control">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text">
                    <div class="error"></div>
                </div>

                <div class="input-control">
                    <label for="password">  </label>
                    <input id="password" name="password" type="password">
                    <div class="error"></div>
                </div>
                <% 
if(typeof error !== 'undefined' && error != "")
{ 
%>
                    <div class="err-msg">
                        <%= error		%>
                    </div>
                    <% 
} 
%>
                        <div class="input-control">
                            <a href="accountRecovery1.html">
                                <p>Forgot your password?</p>
                            </a>
                        </div>
                        <input type="submit" value="Login">

                        <div class="input-control">
                            <p>Create new accounts? <a style="text-decoration:none" href="registration page.html">sign up!</a> </p>
                        </div>
            </form>
        </div>
    </div>

    <%- include('../partials/footer'); -%>